* {
	margin: 0;
	padding: 0;
  }

body {
	font-size:100%;
	font-family: Arial,'Lucida Grande',Verdana,sans-serif;
	text-align:center;
	background:#10945C;
	
}
  
#header {
	height:66px;
	width:999px;
	background:transparent;
	margin:0 auto 0 auto;
	padding-top:95px;
}

#header li {
	font-size:50px;
	font-family: Century Gothic;
}

#content {
	float:center;
	width:685px;
	padding:100px;
}

pre {
	font-family:cursive;
	font-style:bold;
	font-size:large;
}

#content2 {
	float:center;
	width:685px;
	padding:100px;
}

#footer {
	clear: both;
	padding: 1em 2em;
	background-color: #ccc;
	margin: 0 auto 0 auto;
	width: 95%;
	float: right;
}

#footer p {
	font:16px Arial, "Times New Roman", Times;
	color:#262626;
	text-align: center;
}

#footer-pad {
	width:685px;
	height: 5%;
	padding:45px 0px 0px 300px;
	text-align:center;
}

.line {
	background: transparent url(images/footer-line.png) repeat-x top left;
	width:650px;
	height:1px;
	padding-bottom:10px;
	margin:0 auto 0 auto;
}

nav {
	position: absolute;
	left: 0;
	width: 100%;
	background: url("images/nav_background.png");
}

nav ul {
		margin: 0 auto;
		width: 940px;
		list-style: none;
	}

		nav ul li {
			float: left;
		}
		
			nav ul li a {
				display: block;
				margin-right: 20px;
				width: 150px;
				font-size: 20px;
				line-height: 44px;
				text-align: center;
				text-decoration: none;
				color: #008000;
			}
			
				nav ul li a:hover {
					color: #fff;
					text-decoration: underline;
				}
			
			nav ul li.selected a {
				color: #fff;
			}
			
			nav ul li.subscribe a {
				margin-left: 22px;
				padding-left: 33px;
				text-align: left;
				background: url("images/rss.png") left center no-repeat;
			}
section.grid {
	margin-top: 50px;
    
}
.column1 {
align-content: center;
float:left;
padding:  25px 50px 75px 100px;
width:520px;
border: 2px solid black;
background-color: lightgrey;
}

.column2 {

float:left;
padding:  25px 50px 75px 100px;
width:520px;
    border: 2px solid black;
    background-color: lightgrey;

}
.column3 {
float: left;
padding:  25px 50px 75px 100px;
width:520px;
border: 2px solid black;
background-color: lightgrey;
}
.column4 {
float: left;
padding:  25px 50px 75px 100px;
width:520px;
border: 2px solid black;
background-color: lightgrey;
}

/* BAGUIO CITY.HTML* */


#wrapper
{ 
    padding-top: 10px;
background-color:#abe9ff;
        height:500px;}

.container { 
width:950px;
margin-left: 10px;
margin-right: 10px;
 padding:0 10px 0 5px;
  
}


.image{
height: 250px; width: 510px; 
float: left;
margin-top: 5px;
margin-right: 10px;
}

/* polaroid */
h2{
    font-family:ARBERKLEY;
    font-size: 50%;
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    text-align: center;
    font-size: 60px;
}
div.polaroid {
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  margin: 200px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}